<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Scissors Paper Stone</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home></a> </li>
          <li><a href="/about_us">about_us></a> </li>

        <%= yield %>
  </body>
</html>
